.panel-body {
  /*margin-top: 100px;*/
}
.jumbotron {
  /*width: 100% auto;*/
  /*height: 213px;*/
  /*background-image: url(../img/lingo.png);*/

  opacity: inherit;
  /*background-repeat: no-repeat;*/
  /*background-position: center;*/

}
.navbar navbar-inverse{
  margin-bottom: 100px;

}
#jumboheader {
  text-align: center;
  padding-bottom: 50px;
  font-size: 48px;
}
#jumbotext {
  font-size: 24px;
  padding-right: 30px;
  padding-left: 30px;
}
#jumbotext1 {
  font-size: 20px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
}
.col-md-12 {

}
.text{
  padding-left: 40px;
  padding-right: 40px;
}
.btn-group btn-group-lg{
  text-align: center;
}
body{
  padding-bottom: 40px;
}
.subheading {
  padding-left: 20px;
}
.group {
  font-size: 14px;
}
#small {
  font-size: 15px;
}
.small {
  font-size: 24px;
  color: black;
}
#q1 {

}
.course-displaysemester{
text-align: center;
font-size: 36px;
font-weight: bold;
}
#read {
  text-align: center;
  font-size: 24px;
}
.kristin {
  padding-left: 5px;
}
#semester {
  font-size: 18px;
}
.newshead{
  font-size: 24px;
}
.center {
  text-align: center;
  font-size: 20px;
}
.img-responsive {

}
